<div class="container">
    <div class="row h-50">
        <div class="col-md-12">
            <div class="card bg-secondary mt-3 h-100">
                <div class="card-body">
                    <div class="row">
                        <input [(ngModel)]="name" class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="row mt-3">
                        <input [(ngModel)]="age" class="form-control" type="number" name="age" placeholder="Age">
                    </div>
                    <div class="row mt-3">
                        <button class="btn btn-primary" (click)="get_id()">
                            Get ID
                        </button>
                    </div>
                    <div *ngIf="user_id!=0" class="row" style="margin-top: 50px;color: antiquewhite;text-align: center;">
                        <p>Your Id is {{ user_id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>